[Unit]
Description=Asura Uptime Monitor
Documentation=https://github.com/y0f/Asura
After=network-online.target
Wants=network-online.target
StartLimitBurst=5
StartLimitIntervalSec=60

[Service]
Type=simple
User=asura
Group=asura
ExecStart=/usr/local/bin/asura -config /etc/asura/config.yaml
WorkingDirectory=/var/lib/asura
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=asura

# Hardening
ProtectSystem=strict
ProtectHome=yes
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
RestrictNamespaces=yes
LockPersonality=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
CapabilityBoundingSet=
AmbientCapabilities=
ReadWritePaths=/var/lib/asura

[Install]
WantedBy=multi-user.target
